/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	height:100%;
	width:100%;
}
body {
	margin:0;
	padding:0;
	background:#222;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/basketball-court.jpg) no-repeat;
	background-size:100% 100%;
}
header {
	background: rgba(0,0,0,0.75);
	min-height:80px;
	position:relative;
	z-index:99;
	xborder-bottom:1px solid #f90;
	padding:20px 0;
}
footer {
	position:absolute;
	z-index:99;
	bottom:0;
	background: rgba(0,0,0,0.75);
	width:100%;
}
.logo {
	float:left;
	color:#f90;
	text-transform:uppercase;
	font-size:36px;
	line-height:36px;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	letter-spacing:-2px;
}
.logo span {
	color:#eee;
}

.copyright {
	color:#eee;
	font-size:14px;
	padding:10px;
	padding:20px;
	text-transform:uppercase;
}
.container {
	width:980px;
	margin:0 auto;
}
h1,h2,h3,h4,h5 {
	font-family: 'Roboto', sans-serif;
	
	margin:0 0 25px;
}
a, a:visited {
	color:#f90;
	text-decoration:none;
}
a:hover {
	color:#0FF;
}
/* form */
.login-wrap {
	float:right;
}

.form-group {
	display:inline-block;
	margin-right:5px;
}
.control-label {
	color:#eee;
	font-size:16px;
	text-transform:uppercase;
	margin-right:6px;
}
.form-control {
	color:#444;
	padding:0px 7px;
	height:34px;
	line-height:34px;
	border:0px solid #ddd;
	width:140px;
}
.remember-box {
	font-size:12px;
	color:#ddd;
}
.submit-btn-box {
	display:inline-block;
}
.submit-btn {
	padding:0px 16px;
	font-size:16px;
	height:34px;
	line-height:34px;
	text-transform:uppercase;
	color:#222;
	background:#f90;
	border:0;
	cursor:pointer;
}
.submit-btn:hover {
	background:#fc0;
}
.login-links {
	text-align:right;
	font-size:12px;
	color:rgba(255,255,255,0.5);
}
.login-links a {
	font-size:12px;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*, *:before, *:after {
  box-sizing: border-box;
}

@media (max-width:480px) {
.container {
	width:100%;
	padding:0px 20px;
}
.logo {
	float:none;
	font-size:24px;
	text-align:center;
}
.login-wrap {
	float:none;
	margin-top:30px;
	width:100%;
}
.form-group {
	width:100%;
	margin-left:0;
	margin-bottom:10px;
}
.control-label {
	font-size:14px;
	display:block;
	margin-bottom:5px;
}
.form-control {
	display:block;
	width:100%;
	font-size:14px;
	margin:0
}
.submit-btn-box {
	display:block;
	text-align:center;
}
.submit-btn {
	margin:0;
}
.copyright {
	font-size:12px;
}
}