
.LogOut
{
    color:#839300;
    font-weight: bold;
    text-decoration: none;
}

.LogOut:hover
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.Menu_Left
{
    width: 18px;
    height: 35px;
    float: left;
    background: url(/SBS/images/Menu_Left_green.png) top;
}
.Menu_Right
{
    width: 18px;
    height: 35px;
    float: right;
    background: url(/SBS/images/Menu_Right_green.png) top;
}
.menu_nav
{
    margin-left: 18px;
    margin-right: 18px;
    text-align: center;
    height: 35px;
    background: #839300 url(/SBS/images/menu_bg_green.png);
}
#header
{
    background: url(/SBS/images/top_green.png) bottom no-repeat;
}
#logo
{
    float: left;
    color: #09c;
    padding-top:5px;
}
#register
{
    float: right;
    font-size: 12px;
    color: #839300;
    display: inline;
}
#register a, #register a:visited
{
    color:#839300;
    text-decoration: none;
}
#register a:hover
{
    color: #000;
}

#navbar
{
    height: 32px;
    background:#91a10b url(/SBS/images/nav_bk_green.jpg) repeat-x;
}

#nav ul
{
    margin: 0;
    padding-left: 12px;
}
#nav li
{
    display: inline;
    font-size: 12px;
}

#nav a, #nav a:visited, #bot_nav a, #bot nav a:visited
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#bot_nav a
{
    color: #839300;
    font-weight: bolder;
    text-decoration: none;
}

#nav a:hover
{
    color:Yellow;
}
#bot_nav a:hover
{
    /*color: #09C;*/
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}
#login
{
    float: right;
    font-size: 10px;
    line-height: 32px;
}
#login input
{
    font-size: 11px;
    margin: 0;
}
#content
{
    background: #fff;
}
#col1
{
    width: 600px;
    float: left;
}
#col2
{
    width: 300px;
    margin-left: 600px;
}
#splash
{
    margin-left: 15px;
}
#widget
{
    margin-left: 10px;
}
#mid_div
{
    height: 31px;
    background: url(/SBS/images/mid_divider.png);
    line-height: 31px;
}
#msg
{
    font-size: 10px;
    color: #222;
    padding-left: 20px;
}
#space
{
    background: #fff;
}
#text1
{
    float: left;
    width: 500px;
    margin-top: 10px;
    color: #099;
    padding-left: 20px;
    font-style: italic;
    font-size: 24px;
}
#phone
{
    margin-left: 700px;
}
#bottom_bar
{
    height: 11px;
    background: url(/SBS/images/bottom_bar_green.png);
}
#bot_nav
{
    width: 600px;
    float: left;
}
#bot_nav ul
{
    margin: 0;
    padding-left: 12px;
}
#bot_nav li
{
    display: inline;
    font-size: 10px;
    color: #839300;
    margin-right: 15px;
}
#copyright
{
    font-size: 11px; /*color: #ddd;*/
    color: #839300;
    float: right; /* margin-top: 3px;*/
}
#wager ul
{
    margin: 0;
    padding: 0;
}
#wager
{
    background: #267413;
    color: #f1f1f1;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    border-top: 1px solid #003a66;
    border-bottom: 1px solid #003a66;
}
#wager li
{
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    list-style-type: none;
    margin-right: 1px;
    background: white;
}
#wager a, #wager a:visited
{
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
#wager a:hover
{
    background: #ffe400;
    display: block;
    width: 100px;
    height: 25px;
}
.team
{
    font-size: 12px;
}
.table_lines
{
    xborder: 1px solid #555;
    margin-bottom: 5px;
    font-size: 12px;
}
.sport_bb
{
    font-size: 14px;
    color: #839300;
}
.sport_soccer
{
    font-size: 14px;
    color: #c71a1a;
}
.game_date
{
}
.offering_pair
{
    background: #eee;
}
ul.lg
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}
.sportselectbox a, .sportselectbox a:visited
{
    font-size: 10px;
    text-decoration: none;
    color: #390;
}
.sportselectbox a:hover
{
    color: #f90;
}
.gamebox
{
    margin-bottom: 10px;
    font-size: .9em;
    background: #fff;
    color: #222;
}
.gametable_odd
{
    background: #f4ebd2;
}
.gametable_even
{
    background: #f1f1f1;
}
.game_num
{
    color: #005c91;
}

.tableheading
{
	color:white;
    height: 25px;
    font-weight: bold;
    background: url(/SBS/images/nav_bk_green.jpg) repeat-x center !important;
    background: url(/SBS/images/nav_bk_green.jpg) repeat-x center 6px;
}
.tableheading td
{
	color:White;
}
.tableheading2
{
    font-weight: bold;
    text-align: center;
    background: #299c16;
    color: #222;
    height: 24px;
}

/*.textInput
{
    border: 1px solid #999999;
    font-family: Tahoma,Verdana,Helvetica,sans-serif;
    font-size: 11px;
    display: inline;
    padding: 0px 2px 2px 4px;
}*/
.HighLightBlock
{
    border: solid 1px red;
    background-color: #FFCC00;
}
.grn_txt
{
    color: #8cee00;
}
.org_txt
{
    color: #ff7200;
}
.blue_txt
{
    color: #009cff;
}

.bet_input
{
    width: 30px;
}
.hyperlink
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}
.nav_selected
{
    color: #000000;
}

.divider
{
    border-bottom: 1px dotted #555;
    margin: 5px 0px;
}
.betinput_update
{
    border: 1px solid #b5f6ab;
    background: #fff;
    width: 100%;
}
.betinput_red
{
    border: 1px solid #fcbbbb;
    background: #fff;
    width: 100%;
}
.gamebox
{
    margin-bottom: 10px;
    font-size: .9em;
    background: #fff;
    color: #222;
}
.gametable_odd
{
    background: #f4ebd2;
}
.gametable_even
{
    background: #f1f1f1;
}
.game_num
{
    color: #005c91;
}

#betpanel, #historypanel
{
    color: #fff;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 0px;
    min-width: 800px;
    margin: 0 auto;
    min-height: 25px;
    height: auto;
    display: block;
}
#betpanel
{
    margin-bottom: 0px;
}
#betpanel div, #betpanel table
{
    height: 100%;
}
#leftcolumn
{
    width: 100%;
    clear: both;
    height: 20px;
    display: inline;
}

#centercolumn
{
    width: 55%;
    background: #fff;
    float: left;
    height: auto;
    min-height: 300px;
    border: 0px solid #777;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
}
#rightcolumn
{
    width: 45%;
    background: #fff;
    float: left;
    border: 0px solid #777;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

#LineType
{
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background: url(/SBS/images/title_grn_bg.png) right;
    padding-left: 7px;
}
#LineType a
{
    color: #009cff;
    text-decoration: none;
}
/*end betting*/

.chkBetActionSelect
{
    position: relative;
    top: 2px;
}
/*Awger start*/
.WagerHeaderImage
{
    background: Blue;
    height: 30px;
}
/*Awger end*/
.Bold
{
    font-weight: bolder;
}

.sportselectbox .sport_header
{
    height: 25px;
    background: url(/SBS/images/tab_green.png) no-repeat;
    line-height: 25px;
}
#Color
{
    position: fixed;
    width: 60px;
    height: 191px;
    left: 3px;
    top: 52px;
    background: url(/SBS/images/ColorPane.png);
    z-index: 3000;
}
#Color ul
{
    margin: 25px 0px auto 10px;
    padding: 0;
}

#Color ul li
{
    float: left;
    display: block;
    margin: auto auto 9px 3px;
}
#Color ul a
{
    display: block;
    width: 25px;
    height: 25px;
}
#Color ul a:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.bet_descript
{
    background: #6cbb5d;
    font-weight: bold;
}
.MenuItem
{
    display: block;
    width: 190px;
    height: 25px;
    text-align: center;
    background: url(/SBS/images/tab_green.png) no-repeat;
    text-align: left;
    margin: 0 auto;
    text-indent: 10px;
    margin-top: 10px;
}
table .MenuItem a
{
    font-weight: 900;
    color: Yellow;
    line-height: 23px;
    text-decoration: none;
}
.MenuItem a, .MenuItem a:visited
{
    color: #222;
    text-decoration: none;
}
.MenuItem a:hover
{
    color: #fff;
}





/*menu start*/

.sf-menu ul li
{
    padding: 0;
    margin: 0;
}
.menu_nav .sf-menu li
{
    border-right: 1px solid #FFF; /* #eb7c3f;*/
    padding: 0;
}
.menu_active
{
    border-left: #FFF solid 1px;
    background:#839300 url(/SBS/images/bg_active_green.jpg) repeat-x top;
}

.menu_nav ul li.active a, .menu_nav ul li a:hover
{
    /*border-left:#FFF solid 1px; /*#ec651a*/ /* border-left:#839300 solid 1px;*/
   /* background: url(/SBS/images/bg_active_green.jpg) repeat-x top center;*/
}
.border_left_menu
{
    border-left: #FFF solid 1px;
}
.firstSubmenu
{
    background: #839300; 
}
.submenu
{
    border-left: #FFF solid 1px; 
    background: #839300; 
}

.submenu:hover
{
     background:#a4b809;
   
}
/*menu end*/




.button
{
    background: url(/SBS/images/nav_bk_green.jpg) repeat-x;
    text-decoration: none;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    color: #FFF;
    cursor: pointer;
    height: 25px;
    font-size: 11px;
}
.button:hover
{
    text-decoration: none;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    cursor: pointer;
    background: none;
    background: url(/SBS/images/nav_bk_green.jpg) repeat-x;
}

.SubTitle
{
    width: 160px;
    height: 25px;
    background-image: url('/SBS/images/SubTitle_Green.png');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 4px;
    color: White;
    font-weight: bold;
}
/*.logintext
{
    font-weight:bold;
    color:#FFF;
}
*/

/*********MENU SUPER***********/
#navsuper
{
    height: 35px;
    line-height: 35px;
    position: relative;
}

#navsuper ul
{
    margin: 0;
    height: 35px;
}
#navsuper ul li
{
    list-style: none;
    float: left;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #FFF; 
    padding: 0 10px 0 10px;
    cursor: pointer;
}


#navsuper ul div td
{
    min-width: 150px;
    background: #7f8f01;
    height: 25px;
    color: #fff;
    cursor: pointer;
    padding: 0 5px 0 5px;
}


#navsuper ul div
{
    float: left;
    position: absolute;
    z-index: 999999;
    display: none;
    margin-left:-11px;
}

#navsuper ul li:hover div, #navsuper ul div:hover
{
    display: block;
}

#navsuper .selected
{
    color: yellow !important;
    background: #eb7c3f url(/SBS/images/bg_active_green.jpg) repeat-x center top;
}

#navsuper ul li:hover, #navsuper ul div td:hover
{
    color: yellow;
    background: #eb7c3f url(/SBS/images/bg_active_green.jpg) repeat-x center top;
}



#navsuper a, #navsuper a:visited
{
    color: #fff;
    text-decoration: none;
}

#navsuper ul li a:active
{
    color:yellow;
    text-decoration: none;
}

#navsuper a:hover
{
    color: yellow;
}

#navsuper ul div table
{
    float: left;
}

/*********MENU SUPER END***********/