
.divDragTitle {
    position: absolute;
    height: 18px;
    background-image:url(/SBS/images/DragTittle.png);    
    padding-top:3px;
    padding-left:5px;
    padding-right:5px;
    margin:0 0 0 0;
}

.divDragTitle table {
    border-spacing:0px; width:100%;
    margin:0 0 0 0;
}

.divDragTitle table tr td {
    padding:0px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px; font-weight:bold;
    color:#FFFFFF;
}

.divDragContent {
    position: absolute;
    background-image:url(/SBS/images/DragTittle.png);
    padding-left:5px;
    padding-right:5px;    
    display:block;
    margin:0 0 0 0;
}

.divTitleButton {
    border:0px;
    cursor:pointer;
    
}