
.SPopupMainTable
{    
	position:absolute;			
}

.SPopupTopLeft
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_TopLeft.png);
	background-repeat: no-repeat;
	height: 25px;
	width:23px;	
}

.SPopupTopMiddle
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_TopMiddle.png);
	background-repeat: repeat-x;
	height: 25px;	
}

.SPopupTopRight
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_TopRight.png);
	background-repeat: no-repeat;
	background-position:right;
	height: 25px;
	width:23px;
}

.SPopupMiddleLeft
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_MiddleLeft.png);
	background-repeat: repeat-y;	
	width:14px;
}

.SPopupMiddleRight
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_MiddleRight.png);
	background-repeat: repeat-y;	
	background-position:right;
	width:14px;
}

.SPopupBottomLeft
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_BottomLeft.png);
	background-repeat: no-repeat;
	height: 25px;
	width:23px;
}

.SPopupBottomMiddle
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_BottomMiddle.png);
	background-repeat: repeat-x;
	background-position:bottom;
	height: 25px;	
}

.SPopupBottomRight
{
    background-color: Transparent;
	background-image: url(/SBS/images/SPopup_BottomRight.png);
	background-repeat: no-repeat;
	background-position:right;
	height: 25px;
	width:23px;
}