/* AJAX Control Toolkits : TabContainer */
.CustomTabStyle .ajax__tab_header .ajax__tab_outer
{
	color: #2d2b2b;
	background: url(/SBC/images/bg.gif);
}
.CustomTabStyle .ajax__tab_outer
{
	border-right: solid 3px #FFFFFF;
}
.CustomTabStyle .ajax__tab_inner
{
}
.CustomTabStyle .ajax__tab_tab
{
	padding: 6px 5px 6px 5px;
	font: bold 9px Tahoma;
	text-align:center;
}
.CustomTabStyle .ajax__tab_body
{
	background: #FFFFF;
	border:solid 0px #CECECE;
	border-top: solid 1px #CECECE;
	font-family: Tahoma;
	font-size: 10px;
	padding: 5px 5px 5px 5px;
	height:100%;
}
.CustomTabStyle .ajax__tab_hover .ajax__tab_outer
{
	color: #CF153A;
	background: #7296C4;
}
.CustomTabStyle .ajax__tab_active .ajax__tab_outer
{
	color: #FFFFFF;
	background: #7296C4;
}

/*--------------*/
bottomtab
{
    background: #FFFFFF;
    padding: 0px 0 3px;
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    font: bold 8px Tahoma;
    vertical-align: top;
}

.bottomtab li
{
    display: inline;
    margin: 0;
    list-style-type: none;
    white-space: nowrap;
}

.bottomtab li a
{
    position: relative;
    text-decoration: none;
    padding: 5px 11px 3px 11px;
    margin: 0px;
    color: #2d2b2b;
    /*background: url(/SBC/images/bg.gif);*/
    background:silver;
    border: 1px solid #CCCCCC;
    border-top: none;
    font: bold 10px Tahoma;
}
.bottomtab li a.selected
{
    color: #FFFFFF;
    background: #7296C4;
}

.bottomtab a:selected
{
    border: none;
}

.bottomtab li a:hover
{
    color: #CF153A;
    background: #7296C4;
}
