* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.page-content.custom-page-content {
    background: #fff;
    padding: 20px 13px 150px;
    color:#000;
}
.divrptGameTypeShort {
    
}
.divrptGameTypeShort > .panel-body {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 13px;
    -webkit-column-gap: 13px;
    column-gap: 13px;
}
.divrptGameTypeShort .list-group-item > span {
    display: none;
}
.divrptGameTypeShort .list-group-item > label {
     border: 1px solid;
    color: #000;
    cursor: pointer;
    padding: 6px 0 6px 30px;
    display: block;
    background: none;
}

.divrptGameTypeShort .BetIfAll .list-group-item > label {
    padding: 6px 0 6px 55px;
    background: url("../images/box.png") no-repeat 10px center;
}

.divrptGameTypeShort .list-group-item > label:hover {
    color: blue;
}
.divrptGameTypeShort .BetIfAll .list-group-item > label.highlight {
    background: yellow url("../images/tick.png") no-repeat 35px center;
    font-weight: bold;
}
.divrptGameTypeShort .list-group-item > label.highlight {
    background: yellow url("../images/tick.png") no-repeat 10px center;
    font-weight: bold;
}
.game-type {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    display: inline-block;
}

/* login page */
.errortxt {
    color: #fff;
    font: bold 12px arial;
}
.lblipmsg {
    background: red !important;
}



.collapsed {
    display: none;
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table
}
.clearfix:after{
	clear: both
}


/*Bet Detail*/
.gamebetdetail .table {
    border: 1px solid #000;
}

.gamebetdetail .table tr > th,
.gamebetdetail .table tr > td {
    border-right: 1px solid gray;
    vertical-align: middle;
}

.gamebetdetail .table tr > th.nobdr,
.gamebetdetail .table tr > td.nobdr,
.gamebetdetail .table tr > th:last-child,
.gamebetdetail .table tr > td:last-child {
    border-right-color: transparent;
}


.gamebetdetail .table > tbody > tr.gameheader {
    background: #0E2431;
}

.gamebetdetail .table > tbody > tr.gameheader > td {
    background: transparent;
}

.gamebetdetail .table > tbody > tr.gameheader > td span {
    background: transparent;
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
    margin: 0;
}


.gamebetdetail .table > tbody > tr.GameHeader2 {
    background: #666666;
}

.gamebetdetail .table > tbody > tr.GameHeader2 > th {
    background: transparent;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}

.gamebetdetail .table > tbody > tr.gamecontent > td {
    background: transparent;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #000;
}

.gamebetdetail .table > tbody > tr.gamecontent > td.game-number {
    padding-right: 0;
    font-weight: bold;
}

.gamebetdetail .table > tbody > tr.gamecontent > td.game-date,
.gamebetdetail .table > tbody > tr.gamecontent > td.game-number,
.gamebetdetail .table > tbody > tr.gamecontent > td.game-team,
.gamebetdetail .table > tbody > tr.gamecontent > td.game-date *,
.gamebetdetail .table > tbody > tr.gamecontent > td.game-number *,
.gamebetdetail .table > tbody > tr.gamecontent > td.game-team * {
    vertical-align: baseline;
}