
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ============ RESET STYLE FOR TAG ELEMENTS ==================
//////////////////////////////////////////////////////////////////////////////////////////////////////////// */


body { font-size: 10px; }
* { box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    margin: 0; padding: 0; border: 0; outline: 0;
    font: inherit; font-size: 100%;
    color: inherit;
    vertical-align: middle;
    list-style: none;
}