* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.page-content {
    background: #fff;
    padding: 20px 13px 150px;
}
.divrptGameTypeShort {
    
}
.divrptGameTypeShort > .panel-body {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 13px;
    -webkit-column-gap: 13px;
    column-gap: 13px;
}
.divrptGameTypeShort .list-group-item > span {
    display: none;
}
.divrptGameTypeShort .list-group-item > label {
     border: 1px solid;
    color: #000;
    cursor: pointer;
    padding: 6px 0 6px 30px;
    display: block;
    background: none;
}

.divrptGameTypeShort .BetIfAll .list-group-item > label {
    padding: 6px 0 6px 55px;
    background: url("../images/box.png") no-repeat 10px center;
}

.divrptGameTypeShort .list-group-item > label:hover {
    color: blue;
}
.divrptGameTypeShort .BetIfAll .list-group-item > label.highlight {
    background: yellow url("../images/tick.png") no-repeat 35px center;
    font-weight: bold;
}
.divrptGameTypeShort .list-group-item > label.highlight {
    background: yellow url("../images/tick.png") no-repeat 10px center;
    font-weight: bold;
}
.game-type {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    display: inline-block;
}


.collapsed {
    display: none;
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table
}
.clearfix:after{
	clear: both
}