
/* ===============================================
     IMPORT CSS FILE /////////////////////////////////////////////////////////// */

@import url('ttl_reset.css');
@import url('ttl_style.css');
@import url('ttl_quickstyle.css');
@import url('ttl_site.css');

/* ===============================================
     DOCUMENT /////////////////////////////////////////////////////////// */

body {
    font: 13px Arial;
    color: #FFF;
}

    body.home {
        background: #0E2431;
    }

    body.gameplay {
        background: #0e2431;
    }

.layout {
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
}

.layout-small {
    width: 970px;
    max-width: 100%;
    margin: 0 auto;
}

.home .document {
    background: #010E16;
    border-left: 4px solid #18455C;
    border-right: 4px solid #18455C;
}


b,
.bold {
    font-weight: bold;
}

strong,
.strong {
    font-weight: bolder;
}

/* ===============================================
     HEADER /////////////////////////////////////////////////////////// */

.gameplay .main-menu {
}

.home .main-menu-area {
    background: rgba(0, 0, 0, 0) url('../images/icons/menu-mbg.jpg') no-repeat scroll left center;
    background-size: cover;
}

/* ===============================================
     CONTENT /////////////////////////////////////////////////////////// */

.page-content.custom-page-content {
    color: #000;
}

.gameplay .content {
    background: #FFF;
    padding-top: 20px;
    padding-bottom: 100px;
}

.user-info-balance-area {
}

.user-info-balance {
    padding-left: 5px;
    border-left: 1px solid #FFF;
}

.info-balance-name {
}

    .info-balance-name > label {
        font-size: 14px;
        color: #fff;
        font-style: normal;
        line-height: 25px;
        margin: 0 0 0 10px;
    }

    .info-balance-name > span {
        color: #ccc;
        font: bold 18px Arial;
    }

.info-balance-itm {
}

    .info-balance-itm > label {
        color: #ffffff;
        font-size: 13px;
    }

    .info-balance-itm > span {
        color: #fff;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
    }


.notif-valid {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.lst-sport-match {
}

    .lst-sport-match .itm-sport-match {
        padding: 6px 0;
        border: 1px solid;
        color: #000;
        cursor: pointer;
    }

        .lst-sport-match .itm-sport-match:hover {
            color: blue;
        }

        .lst-sport-match .itm-sport-match.up-comming {
            cursor: default;
            color: #000;
        }

        .lst-sport-match .itm-sport-match.highlight {
            background: Yellow;
            font-weight: bold;
        }

        .lst-sport-match .itm-sport-match .icon-box-checked {
        }

        .lst-sport-match .itm-sport-match.highlight .icon-box-checked {
            visibility: hidden;
        }

        .lst-sport-match .itm-sport-match .icon-checked {
            visibility: hidden;
        }

        .lst-sport-match .itm-sport-match.highlight .icon-checked {
            visibility: visible;
        }

        .lst-sport-match .itm-sport-match .game-name {
            font-size: 12px;
            cursor: pointer;
        }

        .lst-sport-match .itm-sport-match.up-comming .game-name:hover {
            color: blue;
        }


.box-present-1 {
    background: #0e2431 none repeat scroll 0 0;
    border: 1px solid #18455c;
}


.box-sport-game {
    border: 1px solid #000;
}

    .box-sport-game > .box-title {
        background: #0E2431;
        padding: 5px 10px 0;
        border-bottom: 5px solid #157199;
        font-size: 14px;
        font-weight: bolder;
        color: #FFF;
    }


.box-sport-game-2 {
    border: 1px solid #000;
}

    .box-sport-game-2 > .box-title {
        background: #0E2431;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

        .box-sport-game-2 > .box-title > div {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            height: 23px;
        }

.lst-sport-match-2 .itm-sport-match .game-description {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .lst-sport-match-2 .itm-sport-match .game-description > div {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        height: 36px;
    }

.lst-sport-match-2 .itm-sport-match .game-detail {
    display: none;
}


.box-teasers {
    background: #FBFAF7;
}


.box-table-1 {
    background: #FFF;
    border-top: 1px solid #000;
}

    .box-table-1 > .caption {
        background: #E5E5E5;
        font-size: 12px;
        color: #000;
    }

    .box-table-1 > .contentd {
        font-size: 14px;
        color: #000;
    }

        .box-table-1 > .contentd .rowd {
            background: none repeat 0 0 transparent;
        }

            .box-table-1 > .contentd .rowd:nth-child(2n+1) {
                background-image: url('../images/icons/bg_gray.gif');
            }

            .box-table-1 > .contentd .rowd:nth-child(2n+2) {
                background-image: url('../images/icons/bg_white.gif');
            }




.lst-game-bet {
}

    .lst-game-bet .itm-game-bet {
        border: 1px solid #000;
    }

        .lst-game-bet .itm-game-bet .title-caption {
            font-size: 14px;
            font-weight: bold;
            padding: 8px 10px;
            color: #000;
        }

        .lst-game-bet .itm-game-bet .caption {
            background: #0E2431;
            padding: 8px 0px;
            color: #FFF;
        }

        .lst-game-bet .itm-game-bet .sub-caption {
            background: #666666;
            color: #FFF;
        }

            .lst-game-bet .itm-game-bet .sub-caption .colm {
                padding: 5px 10px;
                font: bold 12px Arial;
                border-right: 1px solid gray;
            }

                .lst-game-bet .itm-game-bet .sub-caption .colm:last-child {
                    border-right: none;
                }

        .lst-game-bet .itm-game-bet .game-content {
            color: #000;
        }

        .lst-game-bet .itm-game-bet:nth-child(2n+1) .game-content {
            background: #FFFFFF;
        }

        .lst-game-bet .itm-game-bet:nth-child(2n+2) .game-content {
            background: #EFEFEF;
        }

        .lst-game-bet .itm-game-bet.onehaft:nth-child(2n+1) .title-caption,
        .lst-game-bet .itm-game-bet.onehaft:nth-child(2n+1) .game-content {
            background: #B5D8FF;
        }

        .lst-game-bet .itm-game-bet.onehaft:nth-child(2n+2) .title-caption,
        .lst-game-bet .itm-game-bet.onehaft:nth-child(2n+2) .game-content {
            background: #CDE4FD;
        }

        .lst-game-bet .itm-game-bet .game-content .rowm .colm {
            padding: 5px 10px;
            font-size: 12px;
            border-right: 1px solid gray;
        }

            .lst-game-bet .itm-game-bet .game-content .rowm .colm:last-child {
                border-right: none;
            }

            .lst-game-bet .itm-game-bet .game-content .rowm .colm .gm-date.timechange {
                font-weight: bold;
                color: darkred;
            }


.straight-detail .lst-game-bet .itm-game-bet.groups {
    border-top: none;
}

.parlay-detail .lst-game-bet .itm-game-bet {
    margin-top: 5px;
}

    .parlay-detail .lst-game-bet .itm-game-bet:first-child {
        margin-top: 0px;
    }

    .parlay-detail .lst-game-bet .itm-game-bet.groups {
        margin-top: 0px;
        border-top: none;
    }

    .parlay-detail .lst-game-bet .itm-game-bet .game-content .rowm .colm {
        padding: 3px 10px;
    }




.teaser-detail .lst-game-bet .itm-game-bet {
    margin-top: 15px;
}

    .teaser-detail .lst-game-bet .itm-game-bet:first-child {
        margin-top: 0px;
    }

    .teaser-detail .lst-game-bet .itm-game-bet.groups {
        margin-top: 0px;
        border-top: none;
    }




/*Bet Detail*/
.gamebetdetail .table.lst-game-bet {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
}

    .gamebetdetail .table.lst-game-bet tr > th,
    .gamebetdetail .table.lst-game-bet tr > td {
        border-right: 1px solid gray;
        vertical-align: middle;
    }

        .gamebetdetail .table.lst-game-bet tr > td.description {
            background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
            padding: 2px 10px;
        }

        .gamebetdetail .table.lst-game-bet tr > th.nobdr,
        .gamebetdetail .table.lst-game-bet tr > td.nobdr {
            border-right-color: transparent;
        }

    .gamebetdetail .table.lst-game-bet > tbody > tr.gameheader {
        background: #0E2431;
    }

        .gamebetdetail .table.lst-game-bet > tbody > tr.gameheader > td {
            background: transparent;
        }

            .gamebetdetail .table.lst-game-bet > tbody > tr.gameheader > td span {
                background: transparent;
                font-size: 14px;
                font-weight: normal;
                color: #FFF;
                margin: 0;
            }

    .gamebetdetail .table.lst-game-bet > tbody > tr.GameHeader2 {
        background: #666666;
    }

        .gamebetdetail .table.lst-game-bet > tbody > tr.GameHeader2 > th {
            background: transparent;
            padding: 5px 10px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            color: #FFF;
        }

    .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td {
        background: transparent;
        padding: 4px 10px;
        font-size: 12px;
        font-weight: normal;
        color: #000;
    }

        .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-number {
            padding-right: 0;
            font-weight: bold;
        }

            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-date,
            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-number,
            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-team,
            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-date *,
            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-number *,
            .gamebetdetail .table.lst-game-bet > tbody > tr.gamecontent > td.game-team * {
                vertical-align: baseline;
            }


    .gamebetdetail .table.lst-game-bet tr > td.woutbdr {
        border: none;
    }

    .gamebetdetail .table.lst-game-bet tr[context="Current"] {
        background: #FFFFFF;
    }

        .gamebetdetail .table.lst-game-bet tr[context="Current"].offering_pair_odd {
            background: #EFEFEF;
        }

    .gamebetdetail .table.lst-game-bet tr[context="1H"] {
        background: #B5D8FF;
    }

        .gamebetdetail .table.lst-game-bet tr[context="1H"].offering_pair_odd {
            background: #CDE4FD;
        }



.casinogames {
    padding: 7px;
    vertical-align: top !important;
}

.casinogame img {
    width: 100%;
    height: 60px;
}

.casinogame .title {
    background-image: url("../images/icons/gamesSelectButton.jpg");
    background-size: auto 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: none;
    color: #efefd6;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 60px;
    margin: 0;
    text-align: center;
    vertical-align: top;
}


/* ===============================================
     FOOTER /////////////////////////////////////////////////////////// */


/* ===============================================
     PAGES /////////////////////////////////////////////////////////// */

.loadingChild {
    color: #000;
}

.gamebetdetail .ticket-summary {
    display: block;
    background: #A0E1FF;
    padding: 10px 0 10px 25px;
    text-align: left;
    font-size: 16px;
    color: #000080;
}

    .gamebetdetail .ticket-summary b {
        color: #0778C6;
    }

.gamebetdetail .confirmed-message {
    background: #A5E0AA;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

.gamebetdetail .confirmed-actions {
    text-align: center;
}












/*RESPONSIVE*/

@media (max-width: 767px) {
    .home .login-main-area {
        margin-top: 0;
    }

        .home .login-main-area > table {
            width: auto !important;
            float: right;
        }

    .home .main-menu-area {
        background: #0E2431;
    }

        .home .main-menu-area ul.main-menu,
        .home .main-menu-area ul.main-menu > li {
            display: block;
        }
}




@media (max-width: 479px) {
    .home .login-main-area > table input[type="text"],
    .home .login-main-area > table input[type="password"],
    .home .login-main-area > table input[type="submit"] {
        width: 100%;
        margin: 5px 0;
    }
}
