@charset "utf-8";
/* CSS Document */

html{
	width:100%;
	height:100%;
}
body{
	background:#000;
	padding:0 auto;
	margin:0 auto;
	align:center;
	font-size:10pt;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
}
.wrap{
	/*width:1000px;*/
	width:100%;
	float:left;
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	/*margin-left:10%;*/
	/*border:1px solid orange;*/
}
.titlevegas{
	float:left;
	width:100%;
	height:70px;
	text-align:center;
}

.leftpane{
	float:left;
	width:50%;
	text-align:right;
	
	
}

.rightpane{
	float:left;
	width:47%;	
	margin-left:20px;
	padding-bottom:10px;
	text-align:left;
	
}


.loginform{
	float:left;
	width:49%;
	height:200px;
	margin:0 auto;
	
}

.clear{
	clear:both;
	height:10px;
}

.copyright{
	width:100%;
	height:20px;
	padding-bottom:5px;
	color:#FFF;
	font-size:11px;
	text-align:center;
}

.menucontainer{
	width:100%;
	float:left;
	background:#303030;

}
#menu{	
	width: 600px;
	height:30px;		
	margin: 0 auto;
	
}

#menu .item{
	float:left;
	height:30px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding:0 2px 0 2px;
	margin-left:auto;
	margin-right:auto;
	
}

#menu .left{
	background:url(images/mnu_left.png) no-repeat;
	height:29px;
	width:8px;
	float:left;
}
#menu .middle{
	background:url(images/mnu_middle.png) repeat-x;
	height:22px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
}
#menu .right{
	background:url(images/mnu_right.png) no-repeat;
	height:29px;
	width:8px;
	float:left;
}

#menu  .middle .text{
color:#FFF;
	font-weight:bold;
	padding-top:10px;
	text-decoration:none;
}

#menu  .middle .text:hover{
	
	color:#edf003;
	font-weight:bold;
	padding-top:10px;
	text-decoration:underline;
	
	
}

#submenu{
	width:80%;
	min-height:20px;
	float:left;
	background:#666666;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20%;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	
}

#submenu .item{
	float:left;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
	border-left:2px solid #FFF;
	
}

#submenu .item:hover{
	color:#edf003;
	font-weight:bold;
	text-decoration:underline;
}

#content{
	
	width:100%;
	float:left;
	padding:5px;
}
#content_small{
	
	width:70%;
	margin:0 auto;
	/*border:1px solid red;*/
}


/**Original stylesheet**/
input.continue {
    background-color: #A50502;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Georgia, "Times New Roman", Times, serif;
}

input.checkbox {    
    border: 1px solid #A50502;
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;    
}

.review{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    font-size:14pt;
    text-decoration: underline; 
}
.sportHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    font-size:14pt;
    text-decoration: underline; 
}
.subSportHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    font-size:12pt;
    text-decoration: none;
}
.subSportHeaderLink{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    font-size:12pt;
    text-decoration: underline;
}
.linkColor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    font-size:12pt;
    text-decoration: none;
}

.bettingTable{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#A50502;
    font-size:12pt;
    text-decoration: none;
	min-width:250px;
	height:50px;
	
}
.bettingBoxText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;  
	min-width:250px;
	height:50px;
	padding:10px;
}

pre, xmp, plaintext, listing {
font-family: monospace;
white-space: pre;
}

/************************************888Casino*************************************************/


table.casinogame {border-collapse: collapse; width: 59px;}
td.gametext {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab.jpg) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextBlue {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab-blue.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextRed {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab-red.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextGreen {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab-green.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextBrown {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomTab-brown.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextPurple {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab-purple.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextPink {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomTab-pink.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}
td.gametextOrange {text-align: left; color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt; background: url(game/bottomtab-orange.gif) no-repeat; width: 202px; height: 41px; padding: 0px 10px 0px 10px;}

td.gameicon {background-color: #60606c; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconBlue {background-color: #26476A; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconRed {background-color: #BE2829; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconGreen {background-color: #1A7C48; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconBrown {background-color: #9E5B17; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconPurple {background-color: #5A4870; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconPink {background-color: #D49FC7; padding: 2px; text-align: center; vertical-align: middle;}
td.gameiconOrange {background-color: #DE6b07; padding: 2px; text-align: center; vertical-align: middle;}

font.subtext {color: white; font-family: Verdana,Arial,Helvetica; font-weight: bold; font-size: 7pt;}

table.casinotabs {width: 725px; border: 0px; border-collapse: collapse; position: relative; top: 1px;}
table.casinotabs td {padding: 0px; margin: 0px; vertical-align: bottom; height: 34px;}
table.casinotabsbottom {width: 725px; border: 0px; border-collapse: collapse;}
table.casinotabsbottom td {padding-top: 4px; padding-right: 6px; margin: 0px; text-align: right; background-image: url(game/blendBackground.gif); height: 22px; font-family: Tahoma, Verdana, Arial; font-size: 7pt;}
table.casinotabsbottom td a {color: White; font-weight: bold;}
table.casinotabs td input {cursor: hand; padding-right: 20px; width: 150px; border: none; height: 34px; font: bold 11px Tahoma, Verdana, Arial; background-color: transparent;}
table.casinotabs td input.TabActive {cursor: default; color: White; background-image: url(game/TabActive.gif);}
table.casinotabs td input.TabInActive {color: #dddddd; background-image: url(game/TabInactive.gif);}
table.casinotabs td input.ContestTabActive {cursor: default; color: White; background-image: url(game/TabActive.gif);}
table.casinotabs td input.ContestTabInActive {color: #dddddd; background-image: url(game/TabInactive.gif);}
table.casinotabs td input.TabInActiveOver {color: White; background-image: url(game/TabInactiveOver.gif);}
table.casinoTab {width: 725px; border: 1px solid #777777; border-collapse: collapse;}
table.casinoTab td.casinoTab {background-color: #F4F4F4; text-align: center; padding: 0px; margin: 0px;}
table.casinoTab div.tabdesc {padding-top: 5px; width: 600px; font-family: Tahoma; font-size: 12pt; color: #000080; text-align: center; margin-bottom: 0px; padding-bottom: 0px;}

div.tiebreak {display: none;}
div.tiebreak td {color: red;}
table.contest {border: 2px solid #cccccc; width: 705px; border-collapse: collapse;}
table.contest th {padding: 4px; font-family: Tahoma; font-size: 10pt; text-align: center; color: white; background-color: #1b63a5; border: 2px solid #cccccc;}
table.contest td {padding: 4px; font-family: Tahoma; font-size: 10pt; text-align: center; border: 2px solid #cccccc;}
table.contesthead {width: 705px; border-collapse: collapse;}
table.contesthead td {font-family: Tahoma; font-size: 10pt; padding: 0px; margin: 0px; height: 28px; color: #eeeeee; text-align: left; padding-left: 10px; font-weight: bold; background: url(game/gradientTop.gif);}
table.contestnotes {width: 705px; border-collapse: collapse;}
table.contestnotes td {font-family: Tahoma; font-size: 10pt; padding: 0px; margin: 0px; height: 28px; text-align: left; padding-left: 10px;}

a.back {font-family: Tahoma; font-size: 10pt; color: black; font-weight: bold;}

tr.rowEven {background-color: white;}
tr.rowOdd {background-color: #F2F2ED;}

table.contest td input {cursor: hand; border: none; width: 90px; height: 31px; font: 13px Tahoma, Verdana, Arial;}
table.contest td input.ButtonPlay {color: white; font-weight: bold; background-image: url(game/ButtonPlay.gif);}
table.contest td input.ButtonRegister {color: black; font-weight: bold; background-image: url(game/ButtonRegister.gif);}
table.contest td input.ButtonScoreboard {color: black; background-image: url(game/ButtonScoreboard.gif);}
table.contest td input.ButtonPlayOver{color: white; background-image: url(game/ButtonPlayOver.gif);}
table.contest td input.ButtonRegisterOver {color: black;background-image: url(game/ButtonRegisterOver.gif);}
table.contest td input.ButtonScoreboardOver {color: black; background-image: url(game/ButtonScoreboardOver.gif);}

div.message {width: 550px; padding: 20px; font-family: Tahoma;}
div.login {text-align: left; width: 200px;}

table.casinogames td.casinogames {padding: 10px;}
img.lobbyimg {width: 198px; height: 55px;}

table.account {margin-bottom: 5px;}
table.account th {padding: 0px 25px 0px 25px; text-align:center;}
table.account td {padding: 0px 25px 0px 25px; color: #000080; text-align:center;}
table.account a:link, table.account a:visited {color: Blue;}

/* useful for iframe'd lobbies */
/* table.casinoTab td.casinoTab div.casinoTab {overflow-y: auto; height: 500px;} */


/************************************888Casino end*************************************************/


/**************HISTORY-------------------------------------*/

.TrGameOdd {     FONT-SIZE: x-small;     COLOR: black;     BACKGROUND-COLOR: #C0C1D0 }
.TrGameEven {     FONT-SIZE: x-small;     COLOR: black;     BACKGROUND-COLOR: #DDDDE6 }
.GameHeader  { font-weight: bolder; font-size: x-small; background-color: #A50502; text-align: center }
.Title { color: white; font-weight: bolder; font-size: x-small }
.Link { color: white; font-weight: bolder; font-size: x-small }


.Tr0 { FONT-SIZE: x-small;  COLOR: black;     BACKGROUND-COLOR: #C0C1D0 }
.Tr1 { FONT-SIZE: x-small;  COLOR: black;     BACKGROUND-COLOR: #DDDDE6 }

link { color: #000000; font-size: 12px; text-decoration: none }
.link { color: #000000; font-size: 12px; text-decoration: none }
.link:white { color: #FFFFFF; font-size: 12px; text-decoration: none }
.link:hover { 	color: #ff0000; 	text-decoration: none; }

/**************HISTORY END-------------------------------------*/
