<%@ Master Language="VB" CodeFile="Agents.master.vb" Inherits="SBS_Agents_Agent" %>

<%@ Register Src="~/SBS/Agents/Inc/TopMenu.ascx" TagName="TopMenu" TagPrefix="uc1" %>
<%@ Register Src="~/Inc/MailAlert.ascx" TagName="MailAlert" TagPrefix="uc" %>
<%@ Register Src="~/SBS/Shared/Layouts/Layout3/_cssLayout3.ascx" TagPrefix="uc" TagName="_cssLayout3" %>
<%@ Register Src="~/SBS/Shared/Layouts/Layout3/_headScriptsLayout3.ascx" TagPrefix="uc" TagName="_headScriptsLayout3" %>
<%@ Register Src="~/SBS/Shared/Layouts/Common/_loading.ascx" TagPrefix="uc" TagName="_loading" %>
<%@ Register Src="~/SBS/Shared/Layouts/Layout3/_scriptsLayout3.ascx" TagPrefix="uc" TagName="_scriptsLayout3" %>
<%@ Register Src="~/SBS/Shared/Layouts/Common/_scriptCommon.ascx" TagPrefix="uc" TagName="_scriptCommon" %>
<%@ Register Src="~/SBS/Agents/Layout/_headerTopBarAgent.ascx" TagPrefix="uc" TagName="_headerTopBarAgent" %>
<%@ Register Src="~/SBS/Agents/Layout/_leftMenuAgent.ascx" TagPrefix="uc" TagName="_leftMenuAgent" %>
<%@ Register Src="~/SBS/Agents/Layout/_breadCrumbAgent.ascx" TagPrefix="uc" TagName="_breadCrumbAgent" %>
<%@ Register Src="~/SBS/Shared/Layouts/Common/_cssCommon.ascx" TagPrefix="uc" TagName="_cssCommon" %>
<%@ Register Src="~/SBS/Shared/Layouts/Common/_viewPort.ascx" TagPrefix="uc" TagName="_viewPort" %>



<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   
    <uc:_viewPort runat="server" ID="_viewPort" />

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>

    <uc:_cssLayout3 runat="server" ID="_cssLayout3" />

    <uc:_headScriptsLayout3 runat="server" ID="_headScriptsLayout3" />
    
    <uc:_cssCommon runat="server" ID="_cssCommon" />
    
    <script src="/Inc/Scripts/std.js" language="javascript" type="text/javascript"></script>
    
    <style type="text/css">
        .ajax__calendar .ajax__calendar_container{ z-index: 1000;}
        .hyperlink { cursor: pointer !important; cursor: auto; }
    </style>
</head>
<body>
    <form id="form1" runat="server" class="form-horizontal">

        <asp:ScriptManager ID="sc" ScriptMode="Release" EnableScriptGlobalization="true"
            EnableScriptLocalization="false" runat="server" EnablePageMethods="true" />

        <div class="bg_header" style="display: none">
            <table width="100%">
                <tr>
                    <td valign="top" align="center">
                        <div style="position: absolute; width: 100%">
                            <img id="imgLogo" runat="server" src="/images/Winsb.png" style="display: inline;" />
                        </div>
                    </td>
                    <td style="height: 87px; text-align: right; vertical-align: bottom; width: 200px"></td>
                </tr>
                <tr>
                    <td style="height: 22px;" colspan="2">
                        <div class="menu_left">
                            <uc:MailAlert ID="ucMailAlert" runat="server" />
                            <strong>
                                <asp:LinkButton runat="server" ID="lbnIPAlert" Text="IP Alert" Style="text-decoration: none; color: Red; position: relative; top: -1px" />
                            </strong>
                        </div>
                        <div class="menu_right">
                            <div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <uc1:TopMenu ID="ucTopMenu" runat="server" />
                    </td>
                </tr>
            </table>
        </div>

        <div id="divLayoutContainer">
            <uc:_headerTopBarAgent runat="server" ID="_headerTopBarAgent" />

            <div id="wrapper">
                <uc:_leftMenuAgent runat="server" ID="_leftMenuAgent" />

                <div id="page-wrapper">
                    <uc:_breadCrumbAgent runat="server" ID="_breadCrumbAgent" />

                    <div class="page-content">
                        <asp:ContentPlaceHolder ID="cphBody" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    
                </div>
                <div id="footer">
                    <div class="copyright">
                        <a href="#">
                            <asp:Literal ID="ltrCopyRight" runat="server" Text=""></asp:Literal></a>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <uc:_scriptsLayout3 runat="server" ID="_scriptsLayout3" />
    
    <uc:_scriptCommon runat="server" ID="_scriptCommon" />

    <script language="javascript">

        window.onload = function () {
            FlashEmail();
            FlashIP();
        }

        function FlashIP() {
            var lbtnIPAlert = document.getElementById('<%=lbnIPAlert.ClientID%>');
            if (lbtnIPAlert != null) {
                setInterval(function () {

                    if (lbtnIPAlert.style.display == "none") {
                        lbtnIPAlert.style.display = "inline-block";
                    }
                    else
                        lbtnIPAlert.style.display = "none";
                }
                    , 500);
            }
        }
    </script>
    
    <uc:_loading runat="server" ID="_loading" />
</body>
</html>



