<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SBCUnitTests.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1"/>
      <param name="RemotePort" value="8085"/>
      <layout type="log4net.Layout.XmlLayout">
        <param name="Prefix" value=""/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="UdpAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="SBC_CONNECTION_STRING" connectionString="Data Source=BASEDB;Initial Catalog=SBC;User Id=sbcuser;Password=sbcpw;" providerName="sqloledb"/>
    <add name="SBC2_CONNECTION_STRING" connectionString="Data Source=BASEDB;Initial Catalog=SBC2;User Id=sbcuser;Password=sbcpw;" providerName="sqloledb"/>
  </connectionStrings>
  <appSettings>
    <add key="WEB_ROOT" value="http://sbc.localhost" />
    <add key="SPORTSINSIGHTS_KEY" value="E02F384A-97F7-4836-9F44-74285EE4181B" />
    <add key="SPORTSINSIGHTS_URL" value="http://www.sportsinsights.com/dataservice/dataservice.asmx" />
    <add key="SPORTSINSIGHTS_MAX_TIMEOUT" value="60" />
    <add key="SPORTSINSIGHTS_FULL_REFRESH_SECS" value="600" />
    <add key="STATUS_OPEN" value="OPEN" />
    <add key="STATUS_WIN" value="WIN" />
    <add key="STATUS_LOSE" value="LOSE" />
    <add key="STATUS_CANCELLED" value="CANCELLED" />
    <add key="STATUS_PENDING" value="PENDING" />
    <add key="SOCCER_GAMES" value=";SOCCER;PREMIER;LA LIGA;SERIE A;BUNDESLIGA;LIGUE 1;NETHERLANDS;SCOTLAND;PORTUGAL;MLS;ARGENTINA;BRAZIL;MEXICAN;WORLD CUP;EURO CUPS;EURO;CHAMPIONS LEAGUE;EUROPA LEAGUE;" />
    <add key="BASEBALL_GAMES" value=";BASEBALL;MLB AL BASEBALL;MLB NL BASEBALL;" />
  </appSettings>
</configuration>
